<div class="menu">
    <h5>Manage My Account</h5>
    <ul>
        <li>
            <a href="/myprofile">
                My Profile
            </a>
        </li>
        <li>
            <a href="/addressbook">
                Address Book
            </a>
        </li>
        <li>
            <a href="/mypaymentoptions">
                My Payment Options
            </a>
        </li>
    </ul>
        <h5>My Orders</h5>
    <ul>
        <li>
            <a href="/myreturns">
                My Returns
            </a>
        </li>
        <li>
            <a href="/mycancellations">
                My Cancellations
            </a>
        </li>
    </ul>
</div>