@page "/"
@using Microsoft.EntityFrameworkCore
@using global::Services.Categories
@inject ICategoryService CategoryService
@inject IProductService ProductService

<PageTitle>NG-Express | Electronics, Fashion, Collectibles & More</PageTitle>
<div class="parent">

<div class="menu-head">
    <div class="menu">
        <ul class="menu-list">
            @if(Categories != null)
            {
                    
           @foreach(var category in Categories)
            {
                if(limit >= 9)
                {
                    break;  
                }
                        limit++;
                <li>
                   <a href="#">
                       @category.Name
                   </a>
               </li>
                    }
                }
                else
                {
                <span>Loading...</span>
                }
        </ul>
    </div>
    <div class="slider">
        <NG_Express.Components.Slider.Slider></NG_Express.Components.Slider.Slider>
    </div>
</div>
<div class="main">
    <NG_Express.Components.Components_card.Products_Slider_Component.Products_Slider_Component counter="15" Products="@Products" Title="Today's"></NG_Express.Components.Components_card.Products_Slider_Component.Products_Slider_Component>
   <div class="sub1">
            <NG_Express.Components.Components_card.Title_Component.Title_Component Title="Categories"></NG_Express.Components.Components_card.Title_Component.Title_Component>
            <span class="sub-name">Browse By Categories</span>
     </div>
    </div>
</div>

@code {
    List<Category> Categories;
    List<Product> Products;
    public int limit = 0;
    public int counter { get; set; } = 0;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            Categories = await CategoryService.GetCategories();
            Products = await ProductService.GetDiscountedProductsAsync();
        }
        catch(Exception err)
        {
            Console.WriteLine($"{err.Message} Error in db connection and request");
        }
    }
}