@page "/"

<PageTitle>NG-Express | Electronics, Fashion, Collectibles & More</PageTitle>
<div class="parent">

<div class="menu-head">
    <div class="menu">
        <ul class="menu-list">
            <li>
                <a href="#">
                    Woman's Fashion
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.95 11.636L8 6.68597L9.414 5.27197L15.778 11.636L9.414 18L8 16.586L12.95 11.636Z" fill="black" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">Men's Fashion</a>
            </li>
            <li>
                <a href="#">Electronics</a>
            </li>
            <li>
                <a href="#">Home & Lifestyle</a>
            </li>
            <li>
                <a href="#">Medicine</a>
            </li>
            <li>
                <a href="#">Sports & Outdoor</a>
            </li>
            <li>
                <a href="#">Baby's & toys</a>
            </li>
            <li>
                <a href="#">Groceries & Pets</a>
            </li>
            <li>
                <a href="#">Health & Beauty</a>
            </li>
        </ul>
    </div>
    <div class="slider">
        <NG_Express.Components.Slider.Slider></NG_Express.Components.Slider.Slider>
    </div>
</div>
<div class="main">
    <div class="sub">
        <NG_Express.Components.Components_card.Title_Component.Title_Component Title="Today's"></NG_Express.Components.Components_card.Title_Component.Title_Component>
        <span class="sub-name">Flash Sales</span>
    <div style="display:flex;">
        @for(int i = 0; i < 5 ; ++i)
        {
            <NG_Express.Components.Components_card.Product_Component.Product_Component></NG_Express.Components.Components_card.Product_Component.Product_Component>
        }
    </div>
    </div>
    </div>
</div>