*{
    padding:0;
    margin:0;
}
.menu-head{
    display:flex;
    justify-content:center;
    width:100%;
}
.parent{
    width:1440px;
}
.menu {
    display:flex;
    border-right: solid 0.5px rgb(128, 128, 128, 0.30);
    width: 317px;
}
.menu-list {
    margin-top:24px;
}
.menu-list li {
    list-style: none;
    margin-top: 20px;
}
.menu ul li a {
    color:black;
    text-decoration:none;
}
.slider {
    width:70%;
    margin:35px 0 0 45px;
}
.main{
    width:100%;
    justify-content:center;
    overflow:hidden;
}

.sub1{
    margin-top:80px;
    max-width: 1440px;
    border-bottom: solid 0.5px rgb(128, 128, 128, 0.30);
}
