@page "/login"
@rendermode InteractiveServer
@inject IBuyerService BuyerService
<div class="main">
    <div>
        <img src="https://ir.ebaystatic.com/cr/v/c01/buyer_dweb_individual.jpg" width="781" height="805" />
    </div>
    <div class="form">
        <h2>Log in to Exclusive</h2>
        <span>Enter your details below</span>
        <div>
          <input type="email" placeholder="Email or Phone Number" class="input" @bind=Username />
          <input type="password" placeholder="Password" class="input" @bind=Password/>
            <button class="view-btn" style="width:143px;margin-top:40px;" @onclick="login">Log In</button>
            <span style="color:red; margin-left:100px;">Forget Password?</span>
        </div>
    </div>
</div>

@code {
    private string Username { get; set; }
    private string Password { get; set; }
    LoginResponse Response = new LoginResponse();
    async void login()
    {
        Response = await BuyerService.Login(Username, Password);
        Console.WriteLine(Response.Message);
        Console.WriteLine(Response.Status);
    }

}
