@page "/login"
@inject NavigationManager Navigator
@inject ISellerService SellerService
@inject IBuyerService BuyerService
@attribute [Authorize(Policy = "anonym")]
<div class="main">
    <div>
        <img src="https://ir.ebaystatic.com/cr/v/c01/buyer_dweb_individual.jpg" width="781" height="805" />
    </div>
    <div class="form">
        <h2>Log in to Exclusive</h2>
        <span>Enter your details below</span>
        <div>
          <input type="email" placeholder="Email or Phone Number" class="input" @bind=Username />
          <input type="password" placeholder="Password" class="input" @bind=Password/>
          <p>
              @Message
          </p>
            <button class="view-btn" style="width:143px;margin-top:40px;" type="button" @onclick="login">Log In</button>
            <span style="color:red; margin-left:100px;">Forget Password?</span>
        </div>
    </div>
</div>



@code {
    private string Username { get; set; }
    private string Password { get; set; }
    private string Message { get; set; }
    BuyerLoginResponse BuyerResponse = new BuyerLoginResponse();
    SellerLoginResponse SellerResponse = new SellerLoginResponse();
    async void login()
    {
        BuyerResponse = await BuyerService.LoginAsync(Username, Password);
        Message = BuyerResponse.Message;
        if(BuyerResponse.Status>=400)
        {
            Console.WriteLine(Username);
            SellerResponse = await SellerService.LoginAsync(Username, Password);
            Message = SellerResponse.Message;   
            if(SellerResponse.Status>=400)
            {   
                Password = string.Empty;
            }
            else
            {
                Navigator.NavigateTo("/myprofile", forceLoad: true);
            }
        }
        else
        {   
        Navigator.NavigateTo("/",forceLoad:true);
        }
    }

}
