.main {
    display: flex;
    margin-top: 60px;
    width:1440px;
    justify-content:center;
}
.imgchildbox:hover{
    border:solid 1px red;
}
.imgchildbox {
    cursor: pointer;
    border: solid 1px rgb(128, 128, 128, 0.30);
    outline: none;
}

.imgs {
    position: relative;
    left: 0;
    width: 170px;
    margin-bottom:20px;
}

.imgs img {
    flex-wrap: wrap;
    width: 170px;
    height: 139px;
    border-radius: 4px;
    overflow: hidden;
    object-fit: cover;
}

.imgs img:not(:first-child){
    margin-top:20px;
}

.set{
    margin-left:30px;
    width:auto;
    height:620px;
}
.info{
    width:400px;
    margin-left:120px;

}
.prod{
    overflow:hidden;
}