<div class="footer">
    <div class="cont">
        <table class="table">
            <tr>
                <td class="col1">
                    Exclusive
                </td>
                <td class="col2">
                    Support
                </td>
                <td class="col3">
                    Account
                </td>
                <td class="col4">
                    Quick Link
                </td>
                <td class="col5">
                    Download App
                </td>
            </tr>
            <tr>
                <td class="col1">
                    Subscribe
                </td>
                <td class="col2" style="font-size:14px;width:190px;">
                    111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.
                </td>
                <td class="col3">
                    My Account
                </td>
                <td class="col4">
                    Privacy Policy
                </td>
                <td class="col5">
                    Save $3 with App New User Only
                </td>
            </tr>  
            <tr>
                <td class="col1" style="font-size:16px;line-height:24px;font-family:Poppins;">
                    Get 10% off your first order
                </td>
                <td class="col2" style="font-size:14px;width:190px;">
                    narekgalstyanjs@gmail.com
                </td>
                <td class="col3">
                    Login / Register
                </td>
                <td class="col4">
                    Terms Of Use
                </td>
                <td class="col5">
                    Google
                </td>
            </tr>
        </table>
    </div>
</div>