<div class="all">
	<input checked type="radio" name="respond" id="desktop">
	<article id="slider">
		<input checked type="radio" name="slider" id="switch1">
		<input type="radio" name="slider" id="switch2">
		<input type="radio" name="slider" id="switch3">
		<input type="radio" name="slider" id="switch4">
		<input type="radio" name="slider" id="switch5">
		<div id="slides">
			<div id="overflow">
				<div class="image">
					<article>
						<img src="./img/1.png">
							<a class="shop">
								<span>Shop Now</span>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.5 12H20M20 12L13 5M20 12L13 19" stroke="#FAFAFA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</a>
					</article>
					<article>
						<img src="./img/2.png">
							<a class="shop">
								<span>Buy Now</span>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.5 12H20M20 12L13 5M20 12L13 19" stroke="#FAFAFA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</a>
					</article>
					<article>
						<img src="./img/3.png">
							<a class="shop">
								<span>Shop Now</span>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.5 12H20M20 12L13 5M20 12L13 19" stroke="#FAFAFA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</a>
					</article>
					<article>
						<img src="./img/4.png">
							<a class="shop">
								<span>Shop Now</span>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.5 12H20M20 12L13 5M20 12L13 19" stroke="#FAFAFA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</a>
					</article>
					<article>
						<img src="./img/5.png">
							<a class="shop">
								<span>Shop Now</span>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.5 12H20M20 12L13 5M20 12L13 19" stroke="#FAFAFA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
							</a>
					</article>
				</div>
			</div>
		</div>

		<div id="controls">
			<label for="switch1"></label>
			<label for="switch2"></label>
			<label for="switch3"></label>
			<label for="switch4"></label>
			<label for="switch5"></label>
		</div>
		<div id="active">
			<label for="switch1"></label>
			<label for="switch2"></label>
			<label for="switch3"></label>
			<label for="switch4"></label>
			<label for="switch5"></label>
		</div>
	</article>
</div>