@inject NavigationManager Navigator
<CascadingAuthenticationState>
<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" Context="user" DefaultLayout="@typeof(Layout.MainLayout)">
            <Authorizing>
                <span>We Are Authorizing the user</span>
            </Authorizing>
            <NotAuthorized>
                <p>Please Login</p>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>NotFound</PageTitle>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p>404 Not Found</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>

